@font-face {
  font-family: 'DejaVu Sans Mono';
  src:url('DejaVuSansMono-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src:url('DejaVuSansMono-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src:url('DejaVuSansMono-Oblique.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src:url('DejaVuSansMono.ttf') format('truetype');
}
