# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
max_line_length = 120
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2
