.idea/*
!/.idea/runConfigurations/
!/.idea/externalDependencies.xml
!/.idea/misc.xml
!/.idea/checkstyle-idea.xml
!/.idea/codeStyles
!/.idea/codeStyles/*.xml
!/.idea/vcs.xml
.gradle
*.iml
build/
/gen
/.classpath
/.project
/.settings/
/out/
/release.properties
.DS_Store/
*.releaseBackup
.intellijPlatform
