.idea/*
!/.idea/runConfigurations/*.xml
!/.idea/externalDependencies.xml
!/.idea/checkstyle-idea.xml
.gradle
*.iml
build/
/gen
/.classpath
/.project
/.settings/
/out/
/lib/
/release.properties
.DS_Store/
*.releaseBackup
