/* Theme inspired by the default Asciidoctor stylesheet */
body {
  background-color: #45494a;
  color: #bbbbbb;
}

#content {
  padding: 10px;
}

h1, h2, h3, .sidebarblock .content, .title, h4, h5, h6 {
  font-family: Georgia, "URW Bookman L", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #ba3925;
  margin-top: 12px;
  margin-bottom: 6px;
  line-height: 1.2125;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3, .sidebarblock .content .title {
  font-size: 16px;
}

h4, h5 {
  font-size: 14px;
}

.title {
  font-size: 11px;
  line-height: 1.4;
  color: #FF6B68;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 6px;
}

.admonitionblock .title {
  color: #BBB529;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 15px 0;
  height: 0;
}

p, ul, ol, dl {
  line-height: 1.4;
  margin-bottom: 15px;
}

ul, ol {
  list-style-position: outside;
  margin-left: 18px;
}

ul li ul,
ol li ol,
ul li ol,
ol li ul {
  margin-left: 15px;
  margin-bottom: 0;
}

.colist ol li {
  font-size: 11px;
}

.colist ol li p {
  font-size: 11px;
  margin-bottom: 6px;
}

dl dt {
  margin-bottom: 4px;
  font-weight: bold;
}

dl dd {
  margin-bottom: 15px;
}

code {
  font-size: 11px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #6897BB;
  /*background-color: #f2f2f2;*/
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: #287BDE;
  text-decoration: underline;
}

a img {
  border: none;
}

.literalblock,
.listingblock {
  margin-bottom: 15px;
}

.listingblock pre,
.literalblock pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 11px;
  line-height: 1.4;
  border-width: 1px 0;
  border-style: dotted;
  border-color: #bfbfbf;
  padding: 9px;
}

.listingblock {
  background-color: #595c5d;
}

.listingblock pre code,
.literalblock pre code {
  color: inherit;
  font-size: 11px;
}

.line-through {
  text-decoration: line-through;
}

/*.subheader, .admonitionblock td.content > .title, .audioblock > .title,*/
/*.exampleblock > .title, .imageblock > .title, .listingblock > .title,*/
/*.literalblock > .title, .stemblock > .title, .openblock > .title,*/
/*.paragraph > .title, .quoteblock > .title, table.tableblock > .title,*/
/*.verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title,*/
/*.ulist > .title, .qlist > .title, .hdlist > .title {*/
/*line-height: 1.45;*/
/*color: #d6b339;*/
/*font-weight: 400;*/
/*margin-top: 0;*/
/*margin-bottom: .25em*/
/*}*/