name: Qodana Documentation validation
on:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - 'doc/**'
      - '.github/workflows/docs.yml'
      - 'qodana.yaml'
  pull_request:
    paths:
      - 'doc/**'
      - '.github/workflows/docs.yml'
      - 'qodana.yaml'
jobs:
  # Verify built plugin using IntelliJ Plugin Verifier tool
  # Requires build job to be passed
  qodana-docs:
    name: Qodana Docs
    runs-on: ubuntu-latest
    permissions:
      # necessary for the runs of push to store security events in the repo
      # GitHub code scanning will treat any grammar error like a any security event.
      security-events: write
    steps:

      - name: Fetch Sources
        # Check out current repository
        uses: actions/checkout@v2

      - name: Setup Qodana cache
        # to speed up future runs of Qodana
        uses: actions/cache@v2
        with:
          path: /home/runner/work/_temp/_github_home/qodana-cache
          key: ${{ runner.os }}-qodana-${{ github.ref }}-${{ hashFiles('.github/workflows/docs.yml', '**/*.gradle', '**/*.gradle.kts', 'gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-qodana-${{ github.ref }}-${{ hashFiles('.github/workflows/docs.yml', '**/*.gradle', '**/*.gradle.kts', 'gradle.properties') }}
            ${{ runner.os }}-qodana-${{ github.ref }}
            ${{ runner.os }}-qodana-

      - name: Download AsciiDoc plugin for AsciiDoc checks
        run: |
          curl -L -o asciidoctor-intellij-plugin.zip https://github.com/asciidoctor/asciidoctor-intellij-plugin/releases/download/0.35.14/asciidoctor-intellij-plugin-0.35.14.zip
          unzip asciidoctor-intellij-plugin.zip

      - name: Download Grazie plugin for grammar checks
        run: |
          curl -L -o grazie.zip 'https://plugins.jetbrains.com/plugin/download?rel=true&updateId=135090'
          unzip grazie.zip

      - name: Run Qodana code inspection (docs subfolder only)
        # alternative: use "-d doc", this would avoid patching the SARIF file afterward.
        # downside of alternative: gradle will run and load all gradle and build dependencies
        run: >
          docker run
          -v ${{ github.workspace }}/doc:/data/project
          -v ${{ github.workspace }}/qodana:/data/results
          -v ${{ github.workspace }}/asciidoctor-intellij-plugin:/opt/idea/plugins/asciidoctor-intellij-plugin
          -v ${{ github.workspace }}/grazie:/opt/idea/plugins/grazie
          -v /home/runner/work/_temp/_github_home/qodana-cache:/data/cache
          jetbrains/qodana-jvm-community:2021.2
          --save-report

      - name: Clean gradle daemon folder
        # as it ran as root in the container / only needed if running on project's root and project is a gradle project
        run: |
          sudo rm -rf /home/runner/work/_temp/_github_home/qodana-cache/gradle/daemon

      - name: Copy content to folder with write permissions
        # as qodana ran as root
        run: |
          cp ${{ github.workspace }}/qodana/report/results/qodana.sarif.json ${{ github.workspace }}/qodana.sarif.json

      - name: Add "doc" to paths as qodana ran from "doc" folder
        # Otherwise, GitHub won't be able to match the reported problems to file in the repository
        run: |
          sed -i 's|"uri": "|"uri": "doc/|g' ${{ github.workspace }}/qodana.sarif.json

      - name: Fix automation ID in SARIF report
        # necessary as qodana will insert a date with "/" - this is not hierarchical,
        # and won't have an ID that can be matched across dates and branches by GitHub Code Scanning
        # old: "project - 11/14/21, 10:04 AM"
        # new: "project/qodana/2021-11-14"
        # see: https://youtrack.jetbrains.com/issue/QD-1796
        run: |
          sed -i 's|"id": "project - \(..\)/\(..\)/\(..\).*"|"id": "project/qodana/20\3-\1-\2"|g' ${{ github.workspace }}/qodana.sarif.json

      - name: Upload Qodana report as an artifact of the pipeline
        # users with access can then download the report as a ZIP file
        uses: actions/upload-artifact@v2
        with:
          name: qodana-report
          path: ${{ github.workspace }}/qodana/report/

      # https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github#example-workflow-that-runs-the-eslint-analysis-tool
      - name: Upload SARIF report to GitHub
        # so that it is present on all pull requests and GitHub shows the comparison results
        uses: github/codeql-action/upload-sarif@v1
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: ${{ github.workspace }}/qodana.sarif.json

# tag::cleanup[]
  cleanup:
    name: Cleanup old builds
    # avoid 403 error with message "Resource not accessible by integration" (seen with dependabot)
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup old runs
        uses: actions/github-script@v5
        # language=js
        with:
          script: |
            const days_to_expiration = 30;
            const ms_in_day = 86400000;
            const now = Date.now();
            let response = await github.rest.actions.listWorkflowRuns({
                owner: context.repo.owner,
                repo: context.repo.repo,
                per_page: 30,
                workflow_id: 'docs.yml'
            });

            // traverse from the end to delete from the end to not get confused when deleting items
            let page = Math.ceil(response.data.total_count / 30)

            while (page > 1) {
                response = await github.rest.actions.listWorkflowRuns({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    page: page,
                    workflow_id: 'docs.yml'
                });

                for (const run of response.data.workflow_runs) {
                    const days_old = Math.ceil((now - Date.parse(run.created_at)) / ms_in_day)
                    if (days_old > days_to_expiration) {
                        console.log(`Run id ${run.id} is ${days_old} day old. Deleting...`);
                        await github.rest.actions.deleteWorkflowRun({
                            owner: context.repo.owner,
                            repo: context.repo.repo,
                            run_id: run.id
                        });
                    } else {
                        console.log(`Run id ${run.id} is ${days_old} day old. Keeping...`);
                    }
                }
                -- page
            }
# end::cleanup[]
